* {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 120vh;
    background: -webkit-linear-gradient(to bottom, #2196f3, #f44336);
    background: linear-gradient(to bottom, #2196f3, #f44336);

}

img {
    border-radius: 20%;
    width: 300px;
    height: 120px;
    margin-top: 20px;
}

.cus-input:focus {
    border: 1px solid rgb(53, 174, 230);
    box-shadow: rgba(75, 75, 105, 0.50) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cus-input {
    border: 1px solid rgb(11, 30, 237);
    box-shadow: rgba(75, 75, 105, 0.50) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.login-btn {
    display: block;
    margin: 0 auto;
    background-color: white;
    color: rgb(10, 10, 10);
    border: 1px solid rgb(135, 102, 79);
    font-weight: 550;
    border-radius: 30px;
}

.login-btn:hover {
    color: rgb(16, 15, 15);
    background-color: rgb(244, 105, 81);
    border: 1px solid white;
    transform: scale(1.20);
}

h1 {
    margin-top: 10px;
}