{% extends 'base.html'%}

{% block styles %}
    <!-- <link rel="stylesheet" href="../static/styles/pokeForm.css"> -->
{% endblock %}

{% block title %}
    PokeDex
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="mb-3">
          <label for="pokemonLabel" class="form-label">Pokemon Name: </label>
          <input type="text" class="form-control" id="pokemonLabel" aria-describedby="input field for pokemon name" name="poke_data">
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
     
      {%if pokemon_info %}
     
      
     
    
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Ability</th>
                <th scope="col">Base Experience</th>
                <th scope="col">Base Attack</th>
                <th scope="col">Base Defense</th>
                <th scope="col">Base HP</th>
                <th scope="col">Pokemon Image</th>


              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">{{ pokemon_info['name']}}</th>
                <td>{{ pokemon_info['ability_name'] }}</td>
                <td>{{pokemon_info['base_experience'] }}</td>
                <td>{{ pokemon_info['attack_base_stat'] }}</td>
                <td>{{ pokemon_info['defense_base_stat'] }}</td>
                <td>{{pokemon_info['hp_base_stat'] }}</td>
                <td><img src="{{pokemon_info['sprites_image'] }}" alt="shiny_sprite"></td>
              </tr>
            
            </tbody>
        </table>
      {% endif%}
{% endblock %}